.page-section {
		padding: 1.2rem 0;
		
	@mixin mView {
		padding: 4.5rem 0;
	}

	&--no-b-padding {
		padding-bottom: 0px;

		@mixin mView {
			padding-bottom: 4.5rem;
		}

	}

	
	

	&--blue {
		background: $mainBlue;
		color: #fff;
	}
}